@charset "UTF-8";

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    color: var(--cor-destaque);
    font-family: "Inter", sans-serif;
}

:root{
    --background-geral:#00030C;
    --cor-destaque:#ffffff;
    --cor-btn:#167BF7;
}

/* PRIMEIRA PÁGINA  */

body{
    background-color:var(--background-geral)
}

#inicio{
    background-image:url(image/Background.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    
}

#cabecalho_combo{
    width: 40%;
    margin-left:60px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 800px;
}


#inicio h1{
    color:var(--cor-destaque);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;
    text-align:center
}

#inicio img{
    padding: 10px;
}

#cabecalho_combo button{
    width: 540px;
    padding:14px;
    border-radius:6px;
    font-size:17px;
    color:var(--cor-destaque)
    
}

#primeiro_btn{
    background-color: var(--cor-btn);
    color: var(--cor-destaque);
    border:none;
    margin-top:30px;
    margin-bottom: 20px;
}

#segundo_btn{
    background-color: var(--background-geral);
    border:1px solid white;
    margin-bottom:6px;
}

/* SEGUNDA PÁGINA */

#segunda_pagina{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#segunda_pagina_informacoes{
    width: 70%;
    display:flex;
    flex-direction: row;
}

#segunda_pagina_texto{
    height: 100px;
    margin-top: 180px;
    padding: 6px;
}

#segunda_pagina_texto h2{
    font-size:2.5rem
}
#segunda_pagina_texto p{
    font-size:0.7rem;
    font-weight:100;
}

/* TERCEIRA PAGINA */

#terceira_pagina{
    height:100vh;
}

#terceira_pagina button{
    background-color:var(--cor-btn);
    color: var(--cor-destaque);
    padding:10px;
    border:none;
    margin-top:20px;
    border-radius:4px;
    font-size:0.6rem;
}

#terceira_pagina_informacoes{
    padding:6px;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: row-reverse;
    width:80%;
    margin-left:10%;
    font-size: 0.8rem;
}

#terceira_pagina_texto{
    width: 40%;
    margin: 30px;
    padding:10px;
}

/* QUARTA PAGINA */

#quarta_pagina{
    height: 100vh;
}

#quarta_pagina_informacoes{
    display:flex;
    justify-content:center;
}

#quarta_pagina_texto{
    width:40%;
    height:100px;
    margin-top: 70px;
    padding:6px;
}

